body {
    color: rgb(185, 225, 243);
    background: rgb(116, 176, 216);
    margin: 0px;
    font-family: "Macondo", serif;
}

header {
    border-bottom: solid 4px rgb(18, 52, 114);
    padding: 20px;
    font-size: 32px;
    color: rgb(27, 72, 114);
}

section {
    background: rgb(31, 81, 156);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(3, 29, 68);
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 45px;
}
 
p {
    font-size: 20px;
}